.card{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border: none !important;
    margin: 30px 30px;
}
.cardimg{
    height: 200px;
    width: 150px;
}
*
{
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    padding: 0;

}
.buttoncard {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;

  }
  
  .buttoncard:hover{
    background: transparent;
    color: black;
    border-color: white;
    border: 10px;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;

}